#########################################################
# Pipeline Coherence
########################################################

Test-Command: debian/tests/pipeline-coherence
Depends: docker.io, runc, containerd, wget
Restrictions: allow-stderr, isolation-machine, needs-root
Features: test-name=pipeline-coherence-app

#########################################################
# Build Pipeline Test
#########################################################

Test-Command: debian/tests/build-pipeline-test
Depends: docker.io, docker-buildx, docker-compose-v2, containerd, runc, wget
Restrictions: allow-stderr, isolation-machine, needs-root
Features: test-name=build-pipeline-test-app

#########################################################
# Many Image Smoke Test (Tier 2 Images)
#########################################################

Test-Command: debian/tests/many-image-smoke
Depends: docker.io, containerd, runc
Restrictions: allow-stderr, isolation-machine, needs-root
Features: test-name=many-image-smoke-app

#########################################################
# Coherence in LXD (nested environment)
########################################################

Test-Command: debian/tests/coherence-in-lxd app
Depends: dctrl-tools, snapd, lsb-release, containerd, runc
Restrictions: allow-stderr, isolation-machine, needs-root
Features: test-name=coherence-in-lxd-app

#########################################################
# Build in Rootless
########################################################

Test-Command: debian/tests/build-in-rootless
Depends: docker.io, docker-buildx, docker-compose-v2, containerd, runc, rootlesskit, uidmap, slirp4netns, fuse-overlayfs, systemd-container, wget
Restrictions: allow-stderr, isolation-machine, needs-root
Features: test-name=build-in-rootless-app


#########################################################
# Smoke - docker.io-app
#########################################################

Test-Command: debian/tests/smoke/docker
Depends: docker.io, wget
Restrictions: allow-stderr, isolation-machine, needs-root
Features: test-name=smoke-docker

#########################################################
# Smoke - runc
#########################################################

Test-Command: debian/tests/smoke/runc
Depends: runc, wget
Restrictions: allow-stderr, isolation-machine, needs-root
Features: test-name=smoke-runc-app

Test-Command: debian/tests/smoke/runc
Depends: runc-stable, wget
Restrictions: allow-stderr, isolation-machine, needs-root
Features: test-name=smoke-runc-stable

#########################################################
# Smoke - containerd
#########################################################

Test-Command: debian/tests/smoke/containerd
Depends: containerd, ca-certificates, wget
Restrictions: allow-stderr, isolation-machine, needs-root
Features: test-name=smoke-containerd-app

Test-Command: debian/tests/smoke/containerd
Depends: containerd-stable, ca-certificates, wget
Restrictions: allow-stderr, isolation-machine, needs-root
Features: test-name=smoke-containerd-stable

#########################################################
# Smoke - docker-buildx
#########################################################

Test-Command: debian/tests/smoke/docker-buildx
Depends: docker-buildx, docker.io, wget
Restrictions: isolation-machine needs-root allow-stderr
Features: test-name=smoke-docker-buildx

#########################################################
# Smoke - docker-compose-v2
#########################################################

Test-Command: debian/tests/smoke/docker-compose-v2
Depends: docker-compose-v2, docker.io, curl, wget
Restrictions: isolation-machine needs-root allow-stderr
Features: test-name=smoke-docker-compose-v2

